.form-container {
  background-color:white;
  padding: 30px;
  width: 300px;
  height: 400px;
  border-radius: 15px;
  
}

body {
  background-color: lightblue;
  display: flex;
}

label {
  margin: 20px;
  color: purple;
  display: block;
}

input, textarea {
  width: 150px;
  padding: 5px;
  margin-bottom: 20px
}

button {
  background-color: green;
  font-size: 30px;
}

button:hover {
  background-color: purple;
}