body {
  background-color: #f4f4f4;
}
.color-grid {
  display: flex;
  gap: 10px;
}

.color-box {
  width: 75px;
  height: 75px;
}
.color1 {
  background-color: #3A6EA5;
  margin: 20px;
  border-radius: 10px;
}
.color2 {
  background-color: rgb(200, 140, 56);
  margin: 20px;
  border-radius: 10px;
}
.color3 {
  background-color: teal;
  margin: 20px;
  border-radius: 10px;
}
.color4 {
  background-color: hsl(200 50% 50%);
  margin: 20px;
  border-radius: 10px;
}
.color5 {
  background-color: #2A9D8F;
  margin: 20px;
  border-radius: 10px;
}